{% load staticfiles %}
{% load all_categories %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="{% static 'mathquiz/js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mathquiz/js/jquery-ui.js' %}"></script>
    <link type="text/css" href="{% static 'mathquiz/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'mathquiz/css/jquery-ui.css' %}" rel="stylesheet" />
    {% block inhead %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">MathQuiz</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
              <li><a href="{% url 'classes:register' %}">Регистрация</a></li>
              <li><a href="{% url 'classes:login' %}">Вход</a></li>
            {% else %}
              <li><a href="{% url 'classes:show_profile' %}">{{ user.get_full_name }}</a></li>
              <li><a href="{% url 'classes:logout' %}">Выход</a></li>
            {% endif %}
          </ul>
          {% if user.is_authenticated %}
              {% if user.pupil%}
          <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'classes:teachers_list' %}">Список учителей</a></li>
          </ul>
               {% endif %}
          <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'tasks:category_list' %}">Список тем</a></li>
          </ul>
          {% endif %}
          {% if user.teacher %}
          <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'tasks:create_task' %}" class="btn btn-success" style="color: white">Создать задачу</a></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        {% block upper %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            {% all_categories %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="jumbotron">
          {% block content %}{% endblock %}
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
    <script type="text/javascript" src="{% static 'mathquiz/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'mathquiz/js/ie10-viewport-bug-workaround.js' %}"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>

{#    <script type="text/javascript" src="{% static 'mathquiz/js/MathJax.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'mathquiz/js/TeX-AMS_HTML.js' %}"></script>#}
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
</body>
</html>