{% extends 'mathquiz/base.html' %}
{% load staticfiles %}

{% block title %}{{ category.name }}{% endblock %}
{% block inhead %}
    <link type="text/css" href="{% static 'mathquiz/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% if level == '0' %}
        <h3>Выберите уровень сложности</h3>
        <ul>
            <li><a href="{% url 'tasks:tasks_by_category' category.id 1 %}">Уровень 1</a></li>
            <li><a href="{% url 'tasks:tasks_by_category' category.id 2 %}">Уровень 2</a></li>
            <li><a href="{% url 'tasks:tasks_by_category' category.id 3 %}">Уровень 3</a></li>
            <li><a href="{% url 'tasks:tasks_by_category' category.id 4 %}">Уровень 4</a></li>
            <li><a href="{% url 'tasks:tasks_by_category' category.id 5 %}">Уровень 5</a></li>

        </ul>
        <h3>Задачи всех уровней</h3>
    {% else %}
        <h3>Задачи по теме {{ category.name }} уровня {{ level }}</h3>
    {% endif %}
        {% if object_list %}
        <ul>
            {% for object in object_list %}
                <li><a href="{{ object.get_url }}">{{ object }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>Таких задач нет</p>
        {% endif %}
{% endblock %}