{% extends 'mathquiz/base.html' %}
{% load staticfiles %}

{% block title %}{{ category.name }}{% endblock %}
{% block inhead %}
    <link type="text/css" href="{% static 'mathquiz/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
        <ul>
            {% for object in object_list %}
                <li><a href="{{ object.get_url }}">{{ object }}</a></li>
            {% endfor %}
        </ul>
        {% if user.teacher %}
        <form action="{% url 'tasks:create_category' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <label for="name">Вы можете создать новую тему: </label>
            <input type="text" name="name" placeholder="Тема..." class="form-control" id="name">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px">Создать тему</button>
        </form>
        {% endif %}
{% endblock %}