{% extends 'mathquiz/base.html' %}
{% load category_levels %}
{% load staticfiles %}
{% load add_to_homework %}

{% block title %}{{ category.name }}{% endblock %}
{% block inhead %}
    <link type="text/css" href="{% static 'mathquiz/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% category_levels category %}
    {% if level == '0' %}
        <h3>Задачи всех уровней</h3>
    {% else %}
        <h3>Задачи по теме {{ category.name }} уровня {{ level }}</h3>
    {% endif %}
        {% if object_list %}
        <ul>
            {% for object in object_list %}
                <li><a href="{{ object.get_url }}">{{ object }}</a> {% add_task object %} </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>Таких задач нет</p>
        {% endif %}
{% endblock %}